html, body {
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
}








#topDiv {
	margin: 0px;
	padding: 20px;
	/*background-color: #002C77;*/ 
	background: -webkit-radial-gradient(circle, #002C77, #001a47); /* Safari */
	background: -o-radial-gradient(circle, #002C77, #001a47); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, #002C77, #001a47); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, #002C77, #001a47); /* Standard syntax */
	font-size: 40px;
	color: white;
}

#findCodingSchool {
	height: 500px;
	background-color: #CC0C2F;
	/*
	background: -webkit-radial-gradient(circle, #CC0C2F, #a30925); 
	background: -o-radial-gradient(circle, #CC0C2F, #a30925); 
	background: -moz-radial-gradient(circle, #CC0C2F, #a30925);
	background: radial-gradient(circle, #CC0C2F, #a30925); 
	*/
}

#findCodingSchoolHeader {
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24px;
	color: white;
}

#codeDotOrgAPI {
}

#map {
	height: 500px;
}
