html, body {
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

#topDiv {
	margin: 0px;
	padding: 20px;
	background-color: #002C77; 
	font-size: 40px;
	color: white;
}

#findCodingSchool {
	height: 800px;
	background-color: #CC0C2F;
}

#findCodingSchoolHeader {
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24px;
	color: white;
}

#codeDotOrgAPI {
}

#map {
	height: 500px;
}
